<?xml version="1.0"?>
<launch>

  <arg name="initX" default="90" />
  <arg name="initY" default="20" />
  <arg name="initZ" default="1" />
  <arg name="initYaw" default="0" />
  
  <!-- Gazebo -->
  <!--<arg name="world_name" default="worlds/empty.world"/>-->
  <arg name="world_name" default="$(find nre_gazebo)/worlds/geonav_cavr.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <group ns="p0">
    <include file="$(find nre_gazebo)/launch/p3at.launch">
      <arg name="namespace" value="p0" />
      <arg name="initX" value="$(arg initX)" />
      <arg name="initY" value="$(arg initY)" />
      <arg name="initZ" value="$(arg initZ)" />
      <arg name="initYaw" value="$(arg initYaw)" />
    </include>

  </group>
  
</launch>
